<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos accusantium
      corporis sapiente consectetur, in explicabo.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        fuga placeat numquam. Nihil ea minima eius nisi maiores, natus
        perspiciatis voluptate nulla possimus doloremque illum animi accusantium
        tenetur dolorem veniam.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <header class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos accusantium
      corporis sapiente consectetur, in explicabo.
    </p>
  </header>
</section>
