<footer class="block block--dark footer">
  <div class="container footer__sections grid">
    <!-- products -->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>
            <a href="#">Website Hosting</a>
          </li>
          <li>
            <a href="#">Free Automated</a>
          </li>
          <li>
            <a href="#">Wordpress</a>
          </li>
          <li>
            <a href="#">Migrations</a>
          </li>
        </ul>
      </div>
    </section>
    <!-- company -->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">company</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>
            <a href="#">about</a>
          </li>
          <li>
            <a href="#">affiliates</a>
          </li>
          <li>
            <a href="#">blog</a>
          </li>
        </ul>
      </div>
    </section>
    <!-- support -->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">support</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>
            <a href="#">contact</a>
          </li>
          <li>
            <a href="#">knowledge base</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </section>
    <!-- domains -->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">domains</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li>
            <a href="#">domain checker</a>
          </li>
          <li>
            <a href="#">domain transfer</a>
          </li>
          <li>
            <a href="#">free domain</a>
          </li>
        </ul>
      </div>
    </section>
    <!-- logo -->
    <section class="footer__brand">
      <img src="/images/logo.svg" alt="" />
      <p class="footer__copyright">&copy; Copyright 2023 Jason Edwards</p>
    </section>
  </div>
</footer>
