<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus debitis
    architecto inventore. Dolore id cumque optio magni sunt voluptate, esse eius
    a nisi corporis ut accusamus illum beatae ipsam. Aspernatur?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote-line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Doe</h3>
        <p class="quote__company">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
